/*barra de navegación - Inicio*/


.barra {
    background: #024959;
}

.menu_bar {
    display: none;
}

.items_list {
    overflow: hidden;
    list-style: none;
}

.items_list a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
}

.items_list a:hover {
    background: #037E8C;
    text-decoration: none;
    color: #fff;
}

.items_list span {
    margin-right: 10px;
}

.items_nav {
    float: left;
}

@media screen and (max-width:800px) {

    .barra {
        width: 50%;
        height: 100%;
        left: -100%;
        margin: 0;
        position: fixed;
    }

    .menu_bar {
        position: fixed;
    }

    .items_nav {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }

    .menu_bar {
        display: block;
        width: 100%;
        background: #ccc;
    }

    .menu_bar .boton_menu {
        display: block;
        padding: 20px;
        background: #024959;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
    }

    .menu_bar span {
        float: right;
        font-size: 40px;
    }
}

/*barra de navegación - Fin*/

.general {

    background-image: url('../Images/Fondo.jpg')
}

/*encabezado*/
.header {
    background-attachment: fixed;
    background-image: url('../Images/shopping2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    margin-bottom: auto;
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;

}

.description h1 {
    color: #151515;
}

.description p {
    color: #666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

/*Acerca De*/

.AcercaDe {
    background-color: black;
    padding: 2em;
    margin: 4em;
    border-radius: 2em;
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

.AcercaDe h1 {
    color: #F97300;
    margin: 2em;
}

.Productos {
    position: relative;
    background-color: black;
    padding: 2em;
    margin: 4em;
    border-radius: 2em;
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}


.Productos h1 {
    color: white:;
    margin: 2em;
}

.Productos .item {
    position: relative;
}

.Productos .des {
    background: #616161;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 50%;
    border-bottom-left-radius: 50%;
    transition: .3s ease-in-out;

}

.Productos span {
    color: black;
    font-weight: bold;
}


/*Equipo De Trabajo*/

.About {
    margin: 4em;
    padding: 1em;
    position: relative;
    background-color: black;
    border-radius: 2em;
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

.About h1 {
    color: #F97300;
    margin: 2em;
}

.About img {
    height: 100%;
    width: 100%;
    border-radius: 50%
}

.links {
    color: rgb(17, 17, 17);
    /*display: flex;*/
    height: 51px;
    width: 631px;
    justify-content: center;
    border: 0px none rgb(17, 17, 17);
    font: normal normal 300 normal 23.1px / 31.5px "Scope One", serif;
}

.About span {
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
}

.About .desc {
    padding: 2em;
    border-left: 4px solid #10828C;
}

.About .desc h3 {
    color: #10828C;
}

.About .desc p {
    line-height: 2;
    color: white;
}



/*Contacto*/

.Contacto {
    background-color: black;
    margin: 4em;
    border-radius: 2em;
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

.Contacto h1 {
    color: #F97300;
    margin: 2em;
}



.floating-label-form-group {
    position: relative;
    border-bottom: 1px solid #e9ecef;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18BC9C;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #e9ecef;
}

.mensajegraci {
    font-size: 38px;
    text-align: center;
    /*font-family: cursive;
    color: #10828C;*/
    color: #024959;
    font-weight: bolt;
    margin: 2em;
}

.Nom_form {
    color: white;
}


/*Inicio de Sesión*/

.Sesion {
    background-color: black;
    padding: 2em;
    margin: 4em;
    border-radius: 2em;
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

.Sesion h1{
    color: #F97300;
    margin: 2em;
}

.container{
    margin: 2em;
}

.Ingreso{
    background-color: black;
    padding: 2em;
    margin: 4em;
    border-radius: 2em;
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}


.Ingreso p{
    text-align: center;
    font-size: 38px;
    color: #024959;
    margin: 1em;
}

/*Carrito*/
.Carrito{
    position: relative;
    background-color: black;
    padding: 2em;
    margin: 4em;
    border-radius: 2em;
    -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);

}
.Carrito h1{
    color: #F97300;
    margin: 2em;
}

/*Registro*/
.Registro {
    display: :none
}
