h1{
    font: oblique bold 120% cursive;
}
#Quie{
    color: crimson;
    font: condensed 120% sans-serif;
}
#Senci{
    color: crimson;
    font: condensed 120% sans-serif;
}
#com{
    color: crimson;
    font: condensed 120% sans-serif;
}
footer{
    text-align: right
}
body{
    background-color: azure;
}
