h1{
    font: oblique bold 120% cursive;
}
#Quie{
    color: crimson;
    font: condensed 120% sans-serif;
}
#Senci{
    color: crimson;
    font: condensed 120% sans-serif;
}
#com{
    color: crimson;
    font: condensed 120% sans-serif;
}
footer{
    text-align: right
}
body{

background-image: url("http://i67.tinypic.com/2hds9ic.jpg");

}
.navbar{ background:#424242;}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #424242; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}



